# 操作系统
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work

# 数据库
*.db
*.db-shm
*.db-wal
data/

# 日志
*.log
logs/

# 临时文件
tmp/
temp/
*.tmp

# 构建产物
dist/
build/
internal/router/dist/
main
gost-panel
